.profile {
  position: relative;
  &__favorite {
    &__tittle {
      margin-bottom: 24px;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      color: #1d1d1f;
    }
    &__content {
      display: flex;
      padding: 40px 322px 40px 40px;
      background: #ffffff;
      border-radius: 12px;
      &__products {
        display: grid;
        grid-template-columns: repeat(auto-fill, 379px);
        justify-content: center;
        row-gap: 20px;
        column-gap: 20px;
      }
      &__tittle {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #1d1d1f;
      }
      &__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #686870;
      }
      &__block {
        padding-left: 32px;
      }
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0.5;
    background: #000;
  }
  &__container {
    max-width: 1576px;
    margin: 0 auto;
  }

  &__content {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    &__history {
      &__process {
        background: #ffffff;
        border-radius: 12px;
        padding: 28px 24px;
        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &__left {
            display: flex;
          }
          &__right {
            display: flex;

            &__end {
              &__title {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #9e9e9e;
              }
              &__price {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: #1d1d1f;
                span {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 19px;
                  color: #686870;
                }
              }
            }
            &__count {
              margin-right: 24px;

              span {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #9e9e9e;
              }
              p {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 30px;
                color: #1d1d1f;
              }
            }
          }
          &__arrow {
            background: none;
            border: none;
            cursor: pointer;
          }
          &__date {
            display: flex;
            margin-right: 24px;
            flex-direction: column;
            margin-left: 32px;
            span {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #9e9e9e;
            }
            p {
              margin-top: 4px;
              font-style: normal;
              font-weight: 700;
              font-size: 24px;
              line-height: 30px;
              color: #1d1d1f;
            }
          }
          &__img {
            margin-right: 21px;
            width: 64px;
            height: 64px;
            background: #f5f5f7;
            border: 3px solid #ffffff;
            border-radius: 500px;
          }
        }
        &__data {
          margin-top: 34px;
          margin-left: 52px;
          &__note {
            &__left {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #686870;
            }
            &__right {
              margin-top: 8px;
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #1d1d1f;
            }
          }
          &__item {
            margin-bottom: 12px;
            display: flex;
            justify-content: space-between;

            &__left {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #686870;
            }
            &__right {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #1d1d1f;
            }
          }
        }
        &__order {
          &__item {
            margin-top: 16px;
            display: flex;
            align-items: center;
            margin-left: 52px;
            justify-content: space-between;
            &__left {
              display: flex;
              align-items: center;
            }
            &__right {
              display: flex;
              align-items: center;
              &__count {
                margin-right: 24px;
                &__title {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9e9e9e;
                }
                &__sum {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  color: #1d1d1f;
                }
              }
              &__result {
                &__title {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9e9e9e;
                }
                &__sum {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  color: #1d1d1f;
                  span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 13px;
                    color: #686870;
                  }
                }
              }
              &__price {
                margin-right: 24px;
                &__title {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 16px;
                  color: #9e9e9e;
                }
                &__sum {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 24px;
                  color: #1d1d1f;
                  span {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 11px;
                    line-height: 13px;
                    color: #686870;
                  }
                }
              }
            }
            &__info {
              margin-left: 24px;
              &__name {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #1d1d1f;
              }
              &__weight {
                margin-top: 4px;
                display: flex;
                span {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: #ff6633;
                }
                p {
                  margin-left: 4px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                  color: #ff6633;
                }
              }
            }
          }
        }
      }
      &__title {
        margin-top: 32px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #686870;
      }
      &__block {
        margin-top: 24px;
        display: flex;
        background: #ffffff;
        border-radius: 12px;
        padding: 40px 322px 43px 75px;

        &__right {
          margin-left: 32px;
          h3 {
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #1d1d1f;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #686870;
          }
        }
      }
    }
    &__left {
      &__user {
        display: flex;
        padding: 16px;
        background: #ffffff;
        border-radius: 12px;
        &__img {
          margin-right: 12px;
        }
        &__info {
          &__description {
            margin-top: 6px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #9e9e9e;
          }
          &__phone {
            margin-top: 6px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #1d1d1f;
          }
          &__text {
            display: flex;
            justify-content: space-between;
            &__name {
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #1d1d1f;
            }
            &__button {
              background: #f5f5f7;
              border-radius: 4px;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        &__active {
          text-decoration: none;
          display: flex;
          align-items: center;
          padding: 10px 41px 10px 12px;
          background: #ff6633;
          border-radius: 12px;
          &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            background: #ffffff;
            border-radius: 12px;
          }
          &__text {
            margin-left: 12px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
        &__button {
          display: flex;
          align-items: center;
          padding: 10px 41px 10px 12px;
          text-decoration: none;
          &__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            background: #ffffff;
            border-radius: 12px;
          }

          &__text {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #1d1d1f;
            margin-left: 12px;
          }
        }
      }
    }
    &__right {
      max-width: 1177px;
      width: 100%;
      &__block {
        display: flex;
        &__text {
          h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #1d1d1f;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #686870;
          }
        }
      }
      &__item {
        margin-bottom: 12px;
        background: #ffffff;
        border-radius: 12px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__button {
          background: rgba(39, 39, 39, 0.05);
          border-radius: 8px;
          border: none;
          padding: 6px 8px;
          cursor: pointer;
        }

        &__map {
          margin-left: 16px;
          margin-right: 16px;
        }

        &__address {
          max-width: 1060px;
          width: 100%;

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #1d1d1f;
          }

          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #686870;
          }
        }
      }

      &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;

        &__title {
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 64px;
          color: #1d1d1f;
        }

        &__button {
          cursor: pointer;
          display: flex;
          background: #00cc2d;
          border: 1px solid #00cc2d;
          align-items: center;
          border-radius: 12px;
          padding: 16px 24px;

          p {
            margin-right: 8px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
          }
        }
      }

      &__block {
        display: flex;
        align-items: center;
        background: #ffffff;
        border-radius: 12px;
        padding: 40px 0;

        svg {
          margin-left: 40px;
        }

        &__text {
          max-width: 460px;
          width: 100%;
          margin-left: 32px;

          h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            color: #1d1d1f;
          }

          p {
            margin-top: 8px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #686870;
          }
        }
      }
    }
  }
}
