.footer {
  margin-top: 100px;
  background: #ffffff;
  height: 376px;
  &__container {
    max-width: 1576px;
    margin: 0 auto;
  }
  &__content {
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    &__footer {
      display: flex;
      justify-content: space-between;
      margin-top: 34px;
      a {
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #1d1d1f;
      }
      &__cards {
        display: flex;
        &__card {
          margin-right: 24px;
        }
      }
    }

    &__redirect {
      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 64px;
        color: #1d1d1f;
      }
      &__desc {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #9e9e9e;
        max-width: 247px;
        width: 100%;
      }
      &__instagram {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #00cc2d;
        display: block;
        margin-top: 18px;
        padding: 16px 42px;
        background: #f5f5f7;
        border-radius: 12px;
      }
    }
    &__social {
      &__telegram {
        margin-top: 18px;
        justify-content: center;
        background: #f5f5f7;
        border-radius: 12px;
        display: flex;
        align-items: center;
        width: 174px;
        height: 44px;
        text-decoration: none;
        span {
          margin-left: 12px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #039be5;
        }
      }
      &__links {
        max-width: 64px;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    &__nav {
      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #686870;
        margin-bottom: 12px;
      }
      &__item {
        padding-bottom: 8px;
        list-style: none;
        a {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #1d1d1f;
          text-decoration: none;
        }
      }
      &__delivery {
        list-style: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #9e9e9e;
      }
    }
    &__logo {
      &__copyright {
        margin-top: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #9e9e9e;
      }
      &__buttons {
        max-width: 246px;
        width: 100%;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
